node_modules
.nuxt
.output
.vercel
.vscode
.cache
.pi
.gstack
.claude
.cursor
coverage
dist

pnpm-lock.yaml
package-lock.json
yarn.lock

playwright-report
test-results
blob-report
playwright/.cache
playwright/.auth
e2e-screenshots
*user.json

public
*.min.*
*.map

*.md
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.pem
*.log
.env*
